/*
 * -------------------
 * Custom Settings
 * -------------------
 */

@import url("./fonts.css");
@import url("./scheme.css");
@import url("./screen.css");
@import url("./toc.css");
@import url("./admonitions.css");
@import url("./table.css");