/*
 * -------------------
 * Scheme Style Settings
 * -------------------
 */

[data-md-color-scheme="default"] {
    --md-typeset-a-color: #080808;
    --md-typeset-color: #000000;

    --md-primary-fg-color: #efedec;
    --md-primary-bg-color: #000000;

    --md-footer-bg-color: #efedec;
    --md-footer-bg-color--dark: #dedede;
    --md-footer-fg-color: #000000;
    --md-footer-fg-color--light: #000000;
    --md-footer-fg-color--lighter: #000000;

    --md-code-bg-color: #f3f3f3;
    --md-code-fg-color: var(--md-typeset-color);

    --md-accent-fg-color: #3a9a6d;

    input.md-search__input {
        background-color: #ffffff;
    }
}

[data-md-color-scheme="slate"][data-md-color-primary="indigo"] {
    --md-default-bg-color: #161616;
    --md-default-bg-color--light: #161616;
    --md-default-bg-color--lighter: #161616;
    --md-default-bg-color--lightest: #161616;

    --md-default-fg-color: rgba(255,255,255,0.931);
    --md-default-fg-color--light: rgba(255,255,255,0.67);
    --md-default-fg-color--lighter: rgba(255,255,255,0.412);
    --md-default-fg-color--lightest: rgba(255,255,255,0.185);

    --md-primary-fg-color: #101014;
    --md-typeset-a-color: #a8a8a8;
    --md-footer-fg-color: #ffffffe1;
    --md-footer-bg-color: #101014;
    --md-footer-bg-color--dark: #101014;
    --md-footer-fg-color--light: #ffffffe6;
    --md-footer-fg-color--lighter: #ffffffdc;
    --md-code-bg-color: #111215;

    --md-accent-fg-color: #3a9a6d;

    input.md-search__input {
        background-color: #3c3c3c;
    }
}

.md-header .md-search__input::placeholder { color: transparent; }