/* ADMONITION 设置 */

.md-typeset .admonition > :not(.admonition-title), /* 只选常规型 */
.md-typeset .admonition-content > * {              /* 只选折叠型 */
  margin-top: 1em;
  margin-bottom: 1em;
}

/* 使用 Classic 版本的 admonition */
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

/* 修改 admonition 的字体大小 */
[data-md-color-scheme="slate"] .md-typeset .admonition,
[data-md-color-scheme="slate"] .md-typeset details.admonition {
  font-size: .75rem !important;
}