/* 代码区和行号统一背景 */
.md-typeset pre code,
.md-typeset .highlighttable pre,
.md-typeset .highlighttable td,
.md-typeset .linenodiv,
.md-typeset .linenos {
  background: #1A1B1F !important;
}


.md-typeset .highlighttable td {
  color: #fff !important;
}

.md-typeset .highlighttable td {
  border: none !important;
}