/* 霞鹜文楷通过 @font-face 引入 CDN 字体 */
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-web/style.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url("https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css");

:root {
  --md-text-font: "LXGW WenKai Screen";
  --md-code-font: "Ubuntu Mono";
}

.katex,
.katex * {
  font-family:
    KaTeX_Main,
    Times New Roman,
    serif !important;
  font-style: normal;
  font-weight: normal;
}

.md-typeset {
  color: #e0e0e0; /* 默认是 #b0b0b0 左右，略微提升 */
}

.md-typeset p {
  color: #e6e6e6;
}

.md-typeset code,
.md-typeset pre {
  color: #f8f8f2;
}

/* Katex 数学公式颜色 */
.katex {
  color: #ffffff;
}

body[data-md-color-scheme="slate"] {
  background-color: #1a1a1e !important;
}

.md-typeset .admonition,
.md-typeset details.admonition {
  font-size: 0.85rem; /* 默认大概是 0.85rem，可调大些 */
  line-height: 1.5;
}

