## Info
site_name: Hollow's Library
site_url: https://docs.hollowlib.top
site_description: Flowers' Fade, Leaves' Birth.
site_author: Hollow Dobt
copyright: "&copy; 2025 - today Hollow Dobt | <a href='https://icp.gov.moe/?keyword=20257760' target='_blank'>萌ICP备20257760号</a>"
repo_url: https://github.com/hollowdobt/docs-site
repo_name: hollowdobt/docs-site
edit_uri: edit/main/docs/

## Style
theme:
  name: material
  custom_dir: overrides
  logo: _assets/favicon.png
  favicon: _assets/favicon.png

  # 界面永久夜间模式, 减少作者图片设置等工作量(hhh)
  palette:
    scheme: slate
    primary: custom
    accent: custom
  
  icon:
    # 仓库图标
    repo: fontawesome/brands/github-alt
    # 标签(tags)图标注册
    tag: 
      learn: fontawesome/solid/book
  
  # material 特性启用
  features:
    # 导航栏类
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.indexes
    - navigation.tracking
    - naviagtion.prune
    - navigation.instant
    - navigation.instant.prefetch
    # - navigation.instant.preview
    # 搜索类
    - search.suggest
    - search.highlight
    - search.share
    # Contents 访问者操作
    - content.tabs.link
    - content.tooltips
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
    # 目录
    - toc.follow


## Markdown文件编辑加强
markdown_extensions:
  - toc:
      toc_depth: 1-4
      permalink: "#"

  - pymdownx.arithmatex:
      generic: true

  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: false
  ### Admonitions
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  ###
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
      linenums: true
      pygments_style: one-dark
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - footnotes
  - attr_list
  - md_in_html

extra_css:
  - _stylesheets/extra.css
  - static/dist/output.css

extra_javascript:
  - _javascripts/math.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.min.js

extra:
  # 图标返回到标签页面
  homepage: https://docs.hollowlib.top
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

  analytics:
    provider: google
    property: G-TCDSJEFYY3

  social:
    - icon: fontawesome/brands/github
      link: https://github.com/hollowdobt
      name: Hollow's Github
    - icon: fontawesome/solid/envelope
      link: mailto:rxq@hollowlib.top
      name: Hollow's Email
    - icon: fontawesome/solid/heart
      link: https://hollowlib.top
      name: Hollow's Main Site

plugins:
  # 启用搜索
  - search:
      separator: '[\s\u200b\-]'
      lang:
        - zh
  - tags   # 启用标签
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: hollowdobt/docs-site
      branch: main
  - git-authors
  - glightbox # 允许图片缩放
  - add-number:
      order: 2
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
          remove_comments: true
      cache_safe: true


nav:
  - "Hollow's Library":
    - index.md

  - "程序设计语言":
      - programlang/index.md
      - "§ C++":
          - "C++ 面向对象程序设计": programlang/C++/C++OOP.md

  - "人工智能":
      - ai/index.md

  - "ZJU Courses Notes":
      - ZJU-Courses-Notes/index.md
      - "§ 微积分(甲)II":
          - ZJU-Courses-Notes/A/Calculus(A)II.md
      - "§ 普通化学实验(乙)":
          - ZJU-Courses-Notes/A/NorCheT(B).md
      - "§ 人工智能基础(A)":
          - ZJU-Courses-Notes/A/AIBasic(A).md
      - "§ 电工电子学":
          - ZJU-Courses-Notes/A/Electron/index.md
          - "• Chap I 电路和电路元件": ZJU-Courses-Notes/A/Electron/Circuitsandelectroniccomponents.md
          - "• Chap II 电路分析基础": ZJU-Courses-Notes/A/Electron/CircuitAnalysisBasics.md
          - "• Chap III 分立元件基本电路": ZJU-Courses-Notes/A/Electron/BaseDivi.md
      - "§ 理论力学(甲)":
          - ZJU-Courses-Notes/A/TheoreticalMechanics/index.md
          - "• Chap I 点的运动学": ZJU-Courses-Notes/A/TheoreticalMechanics/pointmove.md
          - "• Chap II 刚体运动学": ZJU-Courses-Notes/A/TheoreticalMechanics/rigidbodymove.md
          - "• Chap III 点的合成运动": ZJU-Courses-Notes/A/TheoreticalMechanics/combinationmove.md
          - "• Chap IV 刚体的平面运动": ZJU-Courses-Notes/A/TheoreticalMechanics/rigidbodyinflat.md
          - "• Chap V 静力学公理与受力分析": ZJU-Courses-Notes/A/TheoreticalMechanics/forcetheory.md
      - "§ 大学物理(乙) II":
          - ZJU-Courses-Notes/A/PhysicsII/index.md
      - "§ 人工智能: 大规模数据分析与机器学习模型中的算法优化":
          - ZJU-Courses-Notes/A/BigData/index.md
          - "• LEC 1 Game Theory and Lower Bounds for Randomized Algorithms": ZJU-Courses-Notes/A/BigData/GameTheory.md

  - "算法分析":
      - algorithm/index.md
      - "§ 数据结构基础与算法分析":
          - algorithm/DBAA/index.md
          - "• Chap I 线性表": algorithm/DBAA/array.md
          - "• Appe I 数学基础与算法设计原则": algorithm/DBAA/appendix1.md
          - "• Appe II 算法分析语设计实例": algorithm/DBAA/appendix2.md
      - "§ Codeforces":
          - "模版": algorithm/cf/stencil.md
