# Hollow's Library

site_name: 帆楼的图书馆
site_url: https://docs.hollowlib.top
site_description: Flowers' Fade, Leaves' Birth.
site_author: Hollow Dobt
copyright: "<a href='https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh'
            target='_blank' class='license-link'>Copyright &copy; 2025 - 2026 Hollow Dobt</a> &nbsp;
            <a href='https://icp.gov.moe/?keyword=20257760' target='_blank'>萌ICP备20257760号</a>"
repo_url: https://github.com/hollowdobt/docs-site
repo_name: hollowdobt/docs-site
edit_uri: edit/main/docs/

theme:
  name: material
  custom_dir: overrides
  favicon: _assets/favicon.png
  language: zh

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/theme-light-dark
        name: Follow System
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Dark Mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/white-balance-sunny
        name: Light Mode
  
  icon:
    logo: material/pencil-ruler-outline
    repo: fontawesome/brands/github-alt
    tag: 
      learn: fontawesome/solid/book

  features:
    - navigation.top
    - navigation.tabs
    - navigation.indexes
    - navigation.tracking
    - navigation.prune
    - navigation.instant
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - content.tooltips
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - content.social
    - toc.follow

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - footnotes
  - attr_list
  - md_in_html

  - toc:
      toc_depth: 1-4
      permalink: "§"

  - pymdownx.arithmatex:
      generic: true

  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: false
  
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
      linenums: true

extra_css:
  - _css/extra.css

extra_javascript:
  - _js/math.js
  - https://cdn.jsdelivr.net/npm/mathjax@4.1.0/tex-mml-chtml.js

extra:
  analytics:
    provider: google
    property: G-TCDSJEFYY3

plugins:
  - glightbox
  - git-authors
  - search:
      separator: '[\s\u200b\-]'
      lang: [zh, en]
  - git-revision-date-localized:
      enable_creation_date: true
      exclude:
        - index.md
  - git-committers:
      repository: hollowdobt/docs-site
      branch: main
  - add-number:
      order: 2
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
          remove_comments: true
      cache_safe: true

nav:
  - "Home":
    - index.md
  - "Programming Language":
    - programlang/index.md
    - "§ C++":
      - "C++ 面向对象程序设计": programlang/C++/C++OOP.md
      - "§ 环境搭建":
          - "类 Unix 系统下 CMake 与使用第三方包的 C++ 环境的搭建": programlang/CMake.md

  - "AI":
      - ai/index.md

  - "ZJU Courses Notes":
      - ZJU-Courses-Notes/index.md
      - "§ 微积分(甲)II": ZJU-Courses-Notes/A/Calculus(A)II.md
      - "§ 普通化学实验(乙)": ZJU-Courses-Notes/A/NorCheT(B).md
      - "§ 大学物理(乙)": ZJU-Courses-Notes/A/PhysicsII/index.md
      - "§ 人工智能基础(A)": ZJU-Courses-Notes/A/AIBasic(A).md
      - "§ 电工电子学": ZJU-Courses-Notes/A/Electron/index.md
      - "§ 理论力学(甲)": ZJU-Courses-Notes/A/TheoreticalMechanics/index.md

  - "Algorithm":
      - algorithm/index.md
      - "§ CS61B: Data Structures and Algorithms":
        - algorithm/cs61b/index.md
        - "• Lec 3 Testing & TDD": algorithm/cs61b/tdd.md
        - "• Proj 0 2048": algorithm/cs61b/2048.md
      - "§ CMU CSAPP 15-213":
        - algorithm/csapp/index.md
      - "§ 数据结构基础与算法分析":
          - algorithm/DBAA/index.md
          - "• Chap I 线性表": algorithm/DBAA/array.md
          - "• Appe I 数学基础与算法设计原则": algorithm/DBAA/appendix1.md
          - "• Appe II 算法分析语设计实例": algorithm/DBAA/appendix2.md
      - "§ Codeforces":
          - "模版": algorithm/cf/stencil.md