/*
* 此组件用于设置卡片组件的样式
*/

.card {
    position: relative; 
    /* 使用Flexbox布局, 不懂就不需要改 */
    display: -ms-flexbox;
    display: flex; 
    /* 垂直方向排列子元素 */
    -ms-flex-direction: column; 
    flex-direction: column; 
     /* flex 弹性允许下限, 防止布局溢出 */
    min-width: 0; 
    /* 单词过长时自动换行 */
    word-wrap: break-word; 
    /* 浅色模式下(博客中默认不使用, 可忽略)的背景 */
    background-color: #FEFEFE; 
    /* 背景只在边框以内, 不延伸到边框外. 不改 */
    background-clip: border-box; 
    /* 灰色细边框 */
    border: 0.5px solid #606060; 
    /* 圆角, 4 像素 */
    border-radius: .25rem; 
    /* 相邻上下两卡片之间的间距 */
    margin-bottom: 1em;
}

/* 暗色模式下的颜色修改 */
[data-md-color-scheme="slate"] .card {
    background-color: #18181c;
    border: 0.5px solid #a2a1a1;
}

/* 卡片内容部分的设置 */
.card-body {
    /* 占据自动占用剩余所有空间, 不懂不动 */
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    /* 设置宽度下限, 避免拥挤 */
    min-height: 1px;

    /* 内边距, 到上下左右的距离设置 */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

/* 卡片标题部分的设置 */
.card-header {
    /* 内边距, 到上下左右的距离设置 */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0;

    /* 字体比普通字号大的倍数 */
    font-size: 1.5em;
    text-transform: uppercase; /* 全部大写 */
    font-weight: 600; /* 字体稍粗 */
}

/* 卡片内的列表样式设置 */
.card-body ul {
    /* 列表上下外边框距离设置 */
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.md-typeset :is(.card-body details) {
    margin-top: 0.25rem;
    margin-bottom: 0;
}

.file-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2em 1em;
    transition: background-color .3s cubic-bezier(.4,0,.2,1);
}

.file-block:hover {
    background-color: #eeeeee;
}
[data-md-color-scheme="slate"] .file-block:hover {
    background-color: #606060;
}

.file-title {
    padding-left: 0rem;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 600;
}

.file-meta {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
}

.file-body {
    padding-left: 1em;
    margin-right: auto;
}

.down-button {
    border: 0.05rem solid;
    border-radius: 0.1rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 0.25em 0.5em;
    transition: color .3s,background-color .3s,border-color .3s !important;
}

.down-button:is(:focus,:hover) {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color) !important;
}