/* 放大表格字体 */
.md-typeset table:not([class]) {
  font-size: 0.7rem; /* 默认约等于 16.8px，可改为 1.1rem 等 */
}

/* 放大表头字体（可选） */
.md-typeset table:not([class]) th {
  font-weight: bold;
  font-size: 0.7rem;
}

/* 加深表格第一行（表头）背景色 */
.md-typeset table:not([class]) thead th {
  background-color: #2a2a2a; 
  color: #ffffff;
}

.md-typeset .md-typeset__table {
    display: block;
}
.md-typeset__table table:not([class]) {
    display: table;
}